---
import Base from './Base.astro';
import Banner from '../components/Banner.astro';

interface Props {
  title: string;
  description?: string;
  heading?: string;
  bannerImage?: string;
  bannerAlt?: string;
  transparentHeader?: boolean;
}

const {
  title,
  description,
  heading = title,
  bannerImage,
  bannerAlt = '',
  transparentHeader = !!bannerImage,
} = Astro.props;
---

<Base title={title} description={description} transparentHeader={transparentHeader}>
  {bannerImage && (
    <Banner image={bannerImage} alt={bannerAlt}>
      <slot name="banner" />
    </Banner>
  )}

  <div class="main-content">
    <div class="page-layout page-width">
      {heading && (
        <h1 class:list={['page-title', { 'page-title--below-banner': bannerImage }]}>{heading}</h1>
      )}
      <div class="prose">
        <slot />
      </div>
    </div>
  </div>
</Base>
